.search-form {
  text-align: center;
  padding: 40 0px;
  background-color: rgb(191, 219, 244);
  margin-bottom: 20px;
}
button {
color: aliceblue;
background-color: rgb(152, 152, 195);
border: 1px solid rgb(93, 93, 121);
}