.search-form {
  text-align: center;
  padding: 20 0px;
  background-color: #92469c;
  margin-bottom: 20px;
}
input {
  min-height: 40px;
  min-width: 300px;
  border-radius: 4px;
}
.search-form button {
text-align: center;  
color: rgb(92, 83, 83);
background-color: rgb(255, 255, 255);
border: 2px solid rgb(92, 83, 83);
border-radius: 4px;
min-height: 40px;
min-width: 120px;
cursor: pointer;
}